<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<head>
     {% load static %}
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     <link rel="stylesheet" type="text/css" href="{% static 'ws/onePage.css' %}"/>
     <title>liu</title>

</head>

<body>

    <div id="page-wrap">

        <img src="{% static "ws/img/long.png" %}" alt="long" id="pic" />

        <div id="contact-info" class="vcard">

            <!-- Microformats! -->

            <h1 class="fn">Liu Yunlong</h1>

            <p>
                Mobile: <span class="tel">044 2362 960</span><br />
                Email: <a class="email" href="mailto:Yunlong.a.liu@gmail.com">yunlong.a.liu@gmail.com</a>
            </p>
        </div>

        <div id="objective">
            <p>
                I am a social and energetic young guy how is looking for training/ full-time/part time job  in the field of Data analytics; Android app developemnt; web application developemnt, salesforce (app) development or other relevant job.
                <p style="font-family:Times, serif; font-size: 30px" >lets sail in "Data Ocean" together!</p>
            </p>
        </div>


        <dl>

            <dd class="clear"></dd>

            <dt>Professional Competencies</dt>
            <dd>
                <ul>
                <li>Web Application Development(Django)</li>
                <li>Android Application Development</li>
                <li>Data Analytics( R,Python,SAS,JMP,EXCEL,POWERBI)</li>
                <li>Salesforce Development (Apex)</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>Professional Experience</dt>
            <dd>
                 <h2>Web application development
                    <span>
                      01.12.2015-31.12.2015
                    </span>
                 </h2>
                <ul>
                    <li>Develop frond end with HTML, CSS and little JS</li>
                    <li>Develop back end with Python</li>
                    <li>Manage data in PostgreSQL</li>
                </ul>

                 <h2>Truck Safety System
                    <span>
                        01.01.2015-1.05.2015
                    </span>
                 </h2>
                <ul>
                    <li>Develop simple UI to show trye's Temprature</li>
                    <li>Using BLE to detect tempature of trye and send data to Android app</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>education</dt>
            <dd>
             <ul>
              <li >Information Technology , West Anhui University
                <span id="edu" >2011-2013 </span>
              </li>
              <li>Information Technology , Savonia AMK
                <span>2013-2015</span>
              </li>
              <li >Computer Science,        University of Eastern Finland
              <span>2015-now</span>
              </li>
             </ul>
            </dd>
            <dd class="clear"></dd>

            <dt>Personal qualities</dt>
            <dd>
            <ul>
               <li><strong>Positive</strong> Bring best me to work and positive to solve problems</li>
               <li><strong>quick learning</strong>Quickly to learn new techniques until know-how </li>
               <li><strong>Integrity</strong> Doing right things even though choice is not easy sometimes</li>
             </ul>

            </dd>

            <dd class="clear"></dd>
        </dl>

        <div class="clear"></div>

    </div>

</body>

</html>